{% extends 'blog/base.html' %}
{%load static%}

{% block ContenidoQueCambia %}


    </br>
    <h2>Login:</h2>

    {% if request.user.is_authenticated  %}
    <h3>Usted ya ha iniciado sesion!</h3></br>
    </br>
    <a class="navbar-brand" href="{% url 'home' %}">Volver</a>

    {% else %}

            {% if not request.user.is_authenticated  %}

            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}</br>

                <a href="{% url 'home' %}"> <button type="submit" class="btn btn-secondary" >Iniciar sesión</button> </a>
            </form>
            {% else %}
            {% endif %}
            </br>
            <h3>¿No estas registrado?</h3>
            </br>
            <a class="btn btn-primary" href="{% url 'Register' %}">Registrate!</a>
        {% endif %}
    


{% endblock ContenidoQueCambia %}