{% extends 'blog/base.html' %}
{% load static %}

{% block ContenidoQueCambia %}
<div class="col-lg-6">
    <div class="p-5"> 
            <h2>Hola {{username}}</h2>
            

<section>
    <div class="container px-0">
        <div class="row gx-0 align-items-center">
            <div class="col-lg-6">
                <img class="rounded-circle" src= "{{request.user.perfil.imagenPerfil.url}}" alt="..."  height="150px" width="150px" />
            </div>
            <div class="col-lg-6">
                <div class="p-0">
                    <p>Nombre: {{usuario.first_name}}</p>
                    <p>Apellido: {{usuario.last_name}}</p>
                    <p>Email: {{email}}</p>
                </div>
            </div>
        </div>
    </div>
</section>           
<a href="{% url 'comentarios' %}" class="btn btn-secondary  btn-sm">Mis Comentarios</a>
<a href="{% url 'editarPerfil' %}" class="btn btn-secondary  btn-sm">Editar tuPerfil</a>  
{% endblock ContenidoQueCambia %}
    