{% extends 'blog/base.html' %}

{% block ContenidoQueCambia %}
            
            <h2>Hola {{username}}</h2>
            <img class="rounded-circle" src= "{{request.user.perfil.imagenPerfil.url}}" alt="..."  height="120px" width="120px" />
            
            <a class="text-muted" href="{% url 'editarPerfil' %}" > <i class="fa-solid fa fa-gear"></i></a>
            <p>Nombre: {{usuario.first_name}}</p>
            <p>Apellido: {{usuario.last_name}}</p>
            <p>Email: {{email}}</p>



            <a href="{% url 'comentarios' %}" class="btn btn-secondary  btn-sm">Mis Comentarios</a>
            <a href="{% url 'editarPerfil' %}" class="btn btn-secondary  btn-sm">Editar tuPerfil</a>
        
        </div>
    
    </div>
    </div>
    
</div>
            
  
{% endblock ContenidoQueCambia %}
    