{% extends 'blog/base.html' %}
{% load static %}
{% block CambioPaginaInicio %}
<!-- Content section 1-->
        <section>
            <div class="card mb-4 bg-info">
                <div class="card-body">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5"><img class="img-fluid rounded" src={% static "blog/assets/img/Asado-amigos.jpg" %} alt="..." /></div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class="display-4"><b>Te gusta cocinar a la parrilla..</b></h2>
                                <p>Tenemos los mejores consejos y experiencias para que tus juntadas con amigos sean inolvidables!!</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded" src={% static "blog/assets/img/pastas.jpg" %} alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4"><b>Sos fanatico de las pastas..?</b></h2>
                    <p>Los mejores consejos para tus pastas caseras y las mejores salsas...</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="card mb-4 bg-info">
        <div class="card-body">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded" src={% static "blog/assets/img/pescados.jpg" %} alt="..." /></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"><b>Y los pescados y "bichitos" de mar..??</b></h2>
                        <p>Abrí tus sentidos y dejate llevar, soñando que estas en esos lugares donde tan feliz fuiste!!!!</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock CambioPaginaInicio %}

