{% extends 'blog/base.html' %}
{% load static %}
{% block ContenidoQueCambia %}


<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.titulo }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.autor }} | {{ post.creado_el }}</p>
        <p class="card-text ">{{ post.contenido | safe }}</p>
            {% if user.is_authenticated and user.username == post.autor.username %}
                <a href="{% url 'modificarPost' post.slug %}" class="btn btn-secondary  btn-sm">Editar Post</a>
                <a href="{% url 'eliminarPost' post.slug %}" class="btn btn-secondary  btn-sm">Eliminar</a>
            {% endif %}   

    
       
            {% if user.is_authenticated %} 
                
                    <div class="card-body">
                    <!-- comments -->
                    <h4>{{ comments.count }} Comentarios</h4>
            
                    {% for comment in comments %}
                    <div class="col-md 14 card mb-10  mt-4 ">
                    <class="comments" style="padding: 5px;">
                        <p class="font-weight-bold">
                            <h6>{{ comment.name }}</h6>
                            <img class="rounded-circle" src= "{{request.user.perfil.imagenPerfil.url}}" alt="..."  height="40px" width="40px" />
                        <span class=" text-muted font-weight-normal">
                            {{ comment.creado_el }}
                        </span>
                        </p>
                        {{ comment.comentario | linebreaks }}
                    </div>
                    {% endfor %}
                    </div>
                </div>
                
                    <div class="card-body">
                    
                    </div>
                    
                    <h5>Dejanos un comentario</h5>
                    {% load crispy_forms_tags %}
                    <form method="post" class="post-form"style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}<br>
                        
                        <button type="submit" class="btn btn-secondary  btn-sm">Enviar comentario</button>
                        <a href= {% url 'home' %} class="btn btn-secondary  btn-sm">Volver al post</a>
                    </form>
                    
                    </div>
                </div>
            {% else %} 
            <a class="nav-link py-0 px-5 px-lg-1 rounded" href="{% url 'Login' %}">Logueate para ver comentarios</a>
            {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock ContenidoQueCambia %}
